*{
    margin:0 auto;
    padding : 0 auto;
    box-sizing: border-box;
}
.wrap
{
    width:100%;
    height:100%;
}
.main-content
{
    width:90%;
    height:80%;
    margin: 0 auto;
}
.left{
    float:left;
    width:25%;   
    background-color: white;
}
.right {
    float:right;
    width :70%;
    background-color: white ;
}

.trai{
    float:left;
    width:25%;
}
.a{
    font-size: 20px;
}

.b{
    padding-top: 30%;
    font-size: 20px;
}
.phai{
    margin-right: 15%;
    width:30%;
}
.c{
    font-size: 20px;
}
.d{
    padding-top: 28%;
    font-size: 20px;
}