ul{
    list-style-type: none !important;
}
h4,h5{
    font-size: 18px;
}
.content_Trai {
    float: left;
    width: 330px;
}
.content_Phai {
    float: right;
    width: 1000px;
}
.left-column {
    width: 50%;
    height: 350px;
    float: left;
}
.right-column {
    width: 50%;
    height: 350px;
    float: right;
}