*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
}
.warp{
    width:  100%;
    height: 100%;
}
.main-content{
    width: 99%;
    height: 99%;
}
.left{
    width: 40%;
    background-color: red;
    float: left;
}
.right{
    width: 60%;
    background-color: blue;
    float: right;
}
.trai{
    width: 50%;
    float: left;
    background-color: green;
    height: 700x;
}
.phai{
    width: 50%;
    float: right;
}
